@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header-list {
    position: absolute;
    z-index: 10;
    height: 65px;
    width: 100%;
    background-color: rgba(65, 72, 184, 0.9);
}

.header-list li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-bottom: 20px;
    padding-left: 33px;
    padding-right: 33px;
}

.header-list a {
    text-decoration: none;
	color: white;
	font-size: 1.2em;
	padding: 5px;
}

.header-list:hover {
	border-radius: 5px;
}

header {
    background-color: #eb4592;
	display: inline;
	color: antiquewhite;
}

header .header-logo {
	text-align: center;
    font-size: 20px;
	background-color: #eb4592;
}

h2 {
	color:#0ea56b;
}

h3 {
	color: #47c4b7;
}

.srcbtn {
    margin-top: 15px;
    float: right;
    margin-right: 100px;
    border-radius: 15px;
}

.input {
    padding: 7px;
    border: none;
    font-size: 10px;
    border-radius: 2px;
}

.src {
    float: right;
    border-radius: 0 5px 5px 0;
    position: relative;
    padding: 5px;
    border: none;
}

article {
	display: block;
}

.main2 {    
	background-color: rgb(11, 67, 67);
	height: 100%;
	width: 100%;
	text-align: justify;
	padding : 30px;
	color:blanchedalmond;
	font-size: 15px;
	/* color: blueviolet; */
}


.main { 
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
}

.profile {
	width: 0;
	height: 0;
	position: fixed;
	overflow: hidden;
	z-index: 9999;
	top: 0;
	left: 0;
	transition: 1s;
}

.profile:target {
	bottom: 0;
	right: 0;
	width: auto;
	height: auto;
}

.ft-pro {
	width: 350px;
	height: 200px;
} 

.profile a {
	position: absolute;
	margin: auto;
	left: 50%;
	margin-left: -2%;
	top: 15%;
	color: white;
	text-decoration: none;
	background-color: #e80729;
	padding: 5px;
	border-radius: 5px;
} 

.box {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

main {
	padding: 20px;
	overflow: auto;
}

.main2 {
	float: left;
	width: 75%;
	width: 100%;
	display: inline;
}

aside {
    width: 500px;
	padding-left: 25px;
	padding-bottom: 25px;
}

aside .biodata th, aside .biodata td {
	text-align: justify;
	width: 50%;
}

aside .profile .biodata table {
	margin: 0 auto;
}

.foto {
    width: 200px;
    border-radius: 10%;
}

footer {
	background-color: #bd0fe8;
	text-align: center;
	padding: 1px;
	font-weight: bold;    
    font-size: 20px;
    color:#f7edf5;
}


@media screen and (max-width: 1000px) {
	aside {
		width: 100%;
		padding: 20px;
	}

	main {
		margin: 5%;
		padding: 20px;
	}

	.header-list li {
		list-style-type: none;
		display: inline;
		float: left;
	}

	.header-list {
		position: absolute;
	}

	header {
		display: inline;
	}
}

@media screen and (max-width: 411px) {

	.header-list a {
		position: absolute;
		margin: 0;
		padding-left: 0.5%;
		text-align: center;
	}

	.ft-pro {
		width: 225px;
		height: 140px;
	} 
	
	.yoru {
		width: 220px; 
		height: 150px;
	}

	.yoru2 {
		width: 220px; 
		height: 150px;
	}

	.foto2 {
		width:220px;
		height: 120px;
	}
	
	.foto {
		margin: auto;
  		width: 100%;
  		padding: 10px;
	}
}